<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome Email</title>
  </head>
  <body>
    <h1>Hello, <%= name %>!</h1>
    <p>Welcome to our LMS.</p>
    <p>Click below to verify your email:</p>
    <a href="<%= link %>">Verify Email</a>
    <p>Thank you!</p>
  </body>
</html>
